// Colors
$primary-color: #3299bb;
$secondary-color: #ff9900;
$muted-color: #bcbcbc;
$bg-gray-color: #e9e9e9;
$text-gray-color: #424242; // Also used for standard text color
$white: white;

// Typografi variables
$base-text-color: $text-gray-color;
$base-font-family: 'Caslon';
$base-font-weight: 200;
$base-font-size: 16px;
$header-font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$header-lineheight: 1.5;
$base-lineheight: 1.5;