<header class="header pull-right" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="logo">    
      <img src="assets/images/CortexLogo.png">
    </div>
    <nav class="navigation nav-content pull-right">
      <ul class="navigation-horizontal">
        <li><a ui-sref="home" class="active">Home</a></li>
        <li><a ui-sref="quests">Quests</a></li>
        <li><a ui-sref="users">Users</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>