@import "precortex/index";
@import "variables";
@import "content-headers";

html {
  background-color: $footer-bg-color;
}

.bg-color {
  background-color: $site-bg-gray; 
  padding-bottom: 45px; 
}

.logo {
  display: inline-block;
  min-height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-content {
  margin-top: 23px;
}
.header {
  background-color: $white;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 45px;
}
.structure {
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer {

}