@import "precortex/index";
@import "variables";

.logo {
  display: inline-block;
  min-height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-content {
  margin-top: 23px;
}
.structure {
  margin-top: 15px;
  margin-bottom: 15px;
}